.container-structures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  min-height: 140px;
  margin-bottom: 30px;
}

button {
  width: 134px;
  height: 48px;
  background: #171717;
  border: none;
  border-radius: 9px;
}
button a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  background-color: #171717;
  color: white;
}

.contener_global .contenu {
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/img_home.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.contener_global .contenu .text-img {
  font-family: "Times New Roman", Times, serif;
}
.contener_global .contenu .text-img p {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  font-size: 64px;
}
.contener_global .contenu .text-img p:first-child {
  color: #171717;
  font-size: 24px;
}
.contener_global .connexion {
  display: flex;
  justify-content: center;
}
.contener_global .connexion .block-connexion {
  margin-top: -150px;
  background-color: #292929;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  min-width: 20%;
  height: 445px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contener_global .connexion .block-connexion .img-container {
  filter: drop-shadow(0 0 0.9rem rgb(255, 138, 20));
}
.contener_global .connexion .block-connexion .img-container img {
  min-width: 80px;
  margin: 10px;
}
.contener_global .connexion .block-connexion p {
  font-size: 20px;
  margin: 0px;
}
.contener_global .connexion .block-connexion form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 350px;
}
.contener_global .connexion .block-connexion form input {
  width: 60%;
  margin: 10px;
  border-radius: 7px;
  height: 38px;
  border: none;
  text-align: center;
}
.contener_global .connexion .block-connexion form #id_email {
  margin-bottom: 20px;
}
.contener_global .connexion .block-connexion form button {
  margin: 20px;
  color: #ffffff;
}

footer {
  margin-top: 60px;
  background-color: #292929;
  width: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .single-info {
  margin-top: 60px;
}
footer .single-info p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
footer .single-info ol {
  list-style: none;
}
footer .single-info ol li {
  margin: 15px;
}
footer .icons_social {
  margin-top: 120px;
}
footer .icons_social a {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .contener_global .contenu {
    background-size: 200%;
  }
}
@media screen and (max-width: 600px) {
  .contener_global .connexion .block-connexion {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .contener_global .contenu {
    background-size: 260%;
  }
}

/*# sourceMappingURL=login.css.map */
