@import '../../../fitnessClub/static/scss/mixin.scss';

body{
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #171717;
  color: white;
  font-size: 14px;
}
.name_account, h3{
  letter-spacing: 3px;
}
.container_global{
  display: flex;
  min-height: 1100px;

  .sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: solid 1px black;
    .logo{
      p{
        font-size: 20px;
        margin-top: 80px;
        letter-spacing: 3px;
        text-align: center;
      }
    }
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      
    }
    .profil{
      @include flex-center; 
      margin-top: 100px;
      border: solid 1px rgba(160, 160, 160, 0.831);
      height: 70px;
      width: 70px;
      background: $blacklight;
      background-size: 100px 100px;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.70rem #ffffff);
      .background-avatar{
        img{
          max-width: 57px;
        }
        a:last-child{
          p{
            margin-top: 25px;
          }
        }
      }
    }
    
    .menu{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .single-link{
        display: flex;

        .cube{
         width: 7%;
        }
        
        a{
          width: 100%;
          svg{
            margin:15px;
          }
          .déconnexion{
            width: 26px;
          }
        }
      }
      .single-link:hover{
        .cube{
          background-color: $turquoise;
        }
        a{
          color:$turquoise;
          svg{
            path{
              fill: $turquoise;
            }
          }
        }
      }

    
      
    }
    
  }

  .container_content{
    padding: 0 100px;
    width: 85%;
    background-color: $blacklight;
    background-image: url(../images/medal-gold.svg) ;
    background-repeat: no-repeat;
    background-position: right top;

  }


}

/* //MEDIA QUERIES/ */





@media screen and (max-width: 800px){
  .menu{
    .single-link{
      a{
        svg{
          width: 25px;
        }
        p{
          display: none;
        }
      }
    }
    
  }
  .sidebar{
    a{
      p{
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 375px){

  body{
    font-size: 10px;
    .container_global{

      .sidebar{
        width: 10%;
        padding: 5px;
        .logo{
        p{
          font-size: 9px;
          letter-spacing: 1.5px;
          text-align: center;
          margin-top: 50px
        }
      }
      .profil{
        @include flex-center; 
        margin-top: 50px;
        height: 35px;
        width: 35px;
        .background-avatar{
          img{
            max-width: 30px;
          }
        }
      }
      a{
        p{
          font-size: 7px;
          margin-top: 0px;
        }
      }
      
      .menu{
        .single-link{
          .cube{
            width: 7%;
          }
          a{
            width: 100%;
            svg{
              width: 18px;
              margin:8px;
            }
           
          }
        }
        
      }
      
    }
    .container_content{
      padding: 20px;
      width: 80%;
      background-size:80px;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
}
}