{% load static %}
<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!--META DESCRIPTION-->
  <!--ICONE DE LA PAGE-->
  <title>Compte staff</title>
</head>
<body>

  <!--------------  CONTAINER GENERAL  ----------------->

  <div class="container_global">

    <!--------------  SIDEBAR  ----------------->

    <div class="sidebar">
      {% if request.user %}
      <div class="profil">
        <a href="{% url 'account' %}"><img src="{{ user.avatar.url }}" alt="avatar" class="avatar"></a>
        <a href="{% url 'account' %}"><p>{{ user.first_name|title }}</p></a>
      </div>
      {% endif %}

      <div class="menu">
        {% if request.user.is_staff %}
        <a href="{% url 'add_franchise' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="add franchise">Ajouter un partenaire</a>
        <!-- <a href="{% url 'add_franchise' %}"><img src="../static/icons/menu/add_franchise.png" alt="add franchise">Ajouter un partenaire</a> -->
        <a href="{% url 'list_franchise' %}"><img src="{% static 'icons/menu/list_franchise.png' %}" alt="list franchise">Liste des partenaires</a>
        <a href="{% url 'list_structure' %}"><img src="{% static 'icons/menu/list_structure.png' %}" alt="list structure">Liste des Structure</a>
        {% endif %}
        <a href="{% url 'account' %}"><img src="{% static 'icons/menu/account.png' %}" alt="account">Mon compte</a>
      </div>
      
    </div>

    <!--------------  CONTENTE : ACCOUNT, DESCRIPTION, STRUCTURES ----------------->

    <div class="container_content">

      <a href="{% url 'logout' %}"><img src="{% static 'icons/menu/croix.png' %}" alt="Déconnexion" class="déconnexion"></a>

      {% block content %}
      {% endblock %}


    </div>
  </div>

  <footer>
  </footer>
</body>
</html>