{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!--META DESCRIPTION-->
  <!--ICONE DE LA PAGE-->
  <title>Compte staff</title>
</head>
<body>

  <!--------------  CONTAINER GENERAL  ----------------->

  <div class="container_global">

    <!--------------  SIDEBAR  ----------------->

    <div class="sidebar">
      
      <div class="logo">
        <p>Fitness Club</p>
      </div>
      <div class="profil">
        <div class="background-avatar">
          <a href="{% url 'account' %}"><img src="{{ user.avatar.url }}" alt="avatar"></a>
        </div>
      </div>
      <a href="{% url 'account' %}"><p>{{ user.first_name|title }} {{ user.last_name|title }}</p></a>


      <div class="menu">

        {% if request.user.is_staff %}

        <div class="single-link">
          <div class="cube"></div>
          <a href="{% url 'dashboard' %}">{% include 'svg/svg_dashboard.html' %}
            <p>Dashboard</p>
          </a>
        </div>
        
        <div class="single-link">
          <div class="cube"></div>
          <a href="{% url 'list_franchise' %}">{% include 'svg/svg_list_franchise.html' %}
            <p>Partenaire</p>
          </a>
        </div>
        
        <div class="single-link">
          <div class="cube"></div>
          <a href="{% url 'list_structure' %}">{% include 'svg/svg_list_structure.html' %}
            <p>Structure</p>
          </a>
        </div>

        {% endif %}

        <div class="single-link">
          <div class="cube"></div>
          <a href="{% url 'account' %}">{% include 'svg/svg_user_account.html' %}
            <p>Compte</p>
          </a>
        </div>
        
        <div class="single-link">
          <div class="cube"></div>
          <a href="{% url 'logout' %}">{% include 'svg/svg_deco.html' %}
            <p>Déconnexion</p>
          </a>
        </div>

      </div>
      
    </div>

    <!--------------  CONTENTE : ACCOUNT, DESCRIPTION, STRUCTURES ----------------->

    <div class="container_content">
   

      {% block content %}
      {% endblock %}


    </div>
  </div>

  <footer>
  </footer>
</body>
</html>