


<!--------------  Permission  ----------------->
<h3><img src="{% static 'icons/menu/permissions.png' %}">Permissions</h3>

<div class="containers_permission">
  
  {% for structureperm in structureperms %}
  {% for perm in structureperm.permission.all %}
  
  <div class="single_permission">
    <img src="{{ perm.icon.url }}" alt="icon">
        <p class="permissions"> {{ perm }} {{ perm.is_active }}</p>
        <div>
          <input type="checkbox" id="{{ perm }}" class="checkbox">
          <label for="{{ perm }}" class="label"></label>
        </div>
  </div>
      
      {% endfor %}
      {% endfor %}
</div>
    



<div class="containers_permission">
  
  {% for structureperm in structureperms %}
    {% for perm in structureperm.permission.all %}
    
      <div class="single_permission">

        <img src="{{ perm.icon.url }}" alt="icon">
        <p class="permissions"> {{ perm }} {{ perm.is_active }}</p>
        
        <div>
          <input type="checkbox" id="{{ perm }}" class="checkbox">
          <label for="{{ perm }}" class="label"></label>
        </div>

        
        {% endfor %}  
  {% endfor %}  
</div>  