.container-franchise {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  min-height: 140px;
  margin-bottom: 30px;
}

button {
  width: 134px;
  height: 48px;
  background: #171717;
  border: none;
  border-radius: 9px;
}
button a {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

.filter-franchise {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  margin: 100px 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}
.search-bar .search {
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 2.5px;
  font-style: italic;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: solid white;
  background-color: #171717;
  color: rgba(255, 255, 255, 0.526);
  border: solid 1px;
}
.search-bar button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -40px;
}
.search-bar button img {
  width: 25px;
}

.add-franchise {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}
.add-franchise a {
  display: flex;
  align-items: center;
}
.add-franchise a img {
  margin-right: 8px;
}

.container-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-checkbox span {
  margin-left: 5px;
}
.container-checkbox .checkbox {
  display: none;
}
.container-checkbox .label {
  display: inline-block;
  width: 40px;
  height: 23px;
  background: gray;
  position: relative;
  border-radius: 20px;
}
.container-checkbox .label:after {
  content: "";
  height: 16px;
  width: 16px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2.75px;
  left: 5px;
  border-radius: 50%;
}

.container-checkbox-checked {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-checkbox-checked span {
  margin-left: 5px;
}
.container-checkbox-checked .checkbox-checked {
  display: none;
}
.container-checkbox-checked .label-checked {
  display: inline-block;
  width: 40px;
  height: 23px;
  background: #00ACC1;
  position: relative;
  border-radius: 20px;
}
.container-checkbox-checked .label-checked:after {
  content: "";
  height: 16px;
  width: 16px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2.75px;
  right: 5px;
  border-radius: 50%;
}

/* //MEDIA QUERIES/ */
@media screen and (max-width: 980px) {
  .container-franchise {
    flex-direction: column;
    text-align: center;
  }
  .container-franchise div p {
    margin: 6px 0px;
  }
  button {
    margin: 10px;
  }
}
/* //MEDIA QUERIES --------> 800px/ */
@media screen and (max-width: 800px) {
  .container-franchise {
    max-width: 560px;
    font-size: 12px;
  }
  button {
    width: 89px;
    height: 36px;
  }
}
/* //MEDIA QUERIES --------> 375px/ */
@media screen and (max-width: 375px) {
  .add-structure {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .add-structure a img {
    margin: 0px 5px;
    width: 13px;
  }
  .title {
    margin-bottom: 0px;
  }
  .title h3 {
    font-size: 12px;
    margin: 60px 0px;
    letter-spacing: 2px;
  }
  .container-checkbox, .container-checkbox-checked {
    display: none;
  }
  .container-franchise {
    min-height: 100px;
    padding: 10px;
    max-width: 250px;
  }
  .container-franchise a img {
    width: 40px;
  }
  .container-franchise div {
    width: 150px;
  }
  .container-franchise div img {
    width: 30px;
  }
  .container-franchise div p {
    font-size: 9px;
    margin: 4px 0px;
  }
  button {
    font-size: 9px;
    width: 68px;
    height: 30px;
    background: #171717;
    border: none;
    border-radius: 9px;
  }
  button a {
    color: white;
    text-decoration: none;
  }
  .search-bar {
    display: none;
  }
}

/*# sourceMappingURL=list_franchise.css.map */
