
{% load static %}

<link rel="stylesheet" href="{% static 'css/delete_structure.css' %}">


<!--------------  Message  ----------------->

<p>{% include 'alerts.html' %}</p>



<!--------------  Form  ----------------->
<div>
  <form method="POST" action="{% url 'delete_structure' form.id %}" class="container-structures">
    {% csrf_token %}
    <p>Êtes-vous sûr de vouloir supprimmer la Structure {{ structure.name|title }} ?</p>
    <p>{{ form }}</p>
  
    <button type="submit">Supprimer</button>
  </form>
</div>
  