button {
  width: 134px;
  height: 48px;
  background: #171717;
  border: none;
  border-radius: 9px;
}
button a {
  color: white;
  text-decoration: none;
}

.name_account {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 120px;
  font-size: 16px;
}

h3 {
  margin-top: 100px;
  text-align: center;
}

h4 {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 50px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.edit-structure-detail {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.description_account {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.6);
}

/*----------------- PERMISSIONS -----------------*/
.containers_permission {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.containers_permission .single_permission {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.True .checked {
  display: none;
}
.True .label {
  display: inline-block;
  width: 40px;
  height: 23px;
  background: #00ACC1;
  position: relative;
  transition: all 0.3s;
  border-radius: 20px;
}
.True .label:after {
  content: "";
  height: 16px;
  width: 16px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2.75px;
  left: 5px;
  border-radius: 50%;
}

/*----------------- Buttons -----------------*/
.btn-update {
  margin-top: 70px;
  text-align: center;
}
.btn-update button {
  margin: 30px 0px;
}

.btn-delete {
  margin-bottom: 40px;
  display: flex;
  justify-content: end;
}
.btn-delete button {
  margin-right: 100px;
  background-color: #C21A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-delete button img {
  margin-left: 4px;
}

/* //MEDIA QUERIES/ */
/* //MEDIA QUERIES --------> 800px/ */
@media screen and (max-width: 800px) {
  .details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .details div p {
    margin: 6px 0px;
  }
  .edit-structure-detail {
    justify-content: flex-start;
  }
  .description_account {
    margin-top: 20px;
  }
  h3 {
    margin-top: 40px;
  }
  h4 {
    margin-top: 20px;
  }
  .btn-delete button {
    margin-right: 0px;
  }
}
/* //MEDIA QUERIES --------> 375px/ */
@media screen and (max-width: 375px) {
  .name_account {
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .name_account p {
    letter-spacing: 2px;
    font-size: 11px;
  }
  .details div a img {
    width: 30px;
  }
  .details div p {
    font-size: 9px;
    margin: 3px 0px;
  }
  .edit-structure-detail {
    margin-top: 10px;
  }
  .description_account {
    font-size: 9px;
  }
  button {
    font-size: 9px;
    width: 68px;
    height: 30px;
    background: #171717;
    border: none;
    border-radius: 9px;
  }
  button a {
    color: white;
    text-decoration: none;
  }
  h3 {
    letter-spacing: 2px;
  }
  .containers_permission .single_permission {
    min-width: 130px;
    margin: 5px;
  }
  .containers_permission .single_permission img {
    width: 18px;
  }
  .True input, .True .label {
    height: 16px;
    width: 25px;
    margin-left: 3px;
  }
  .True input:after, .True .label:after {
    height: 12px;
    width: 12px;
    top: 1.75px;
    left: 3px;
  }
  .btn-update {
    margin-top: 20px;
  }
  .btn-update button {
    margin: 10px 0px;
  }
  .btn-delete button img {
    width: 12px;
  }
  .container_content {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=structure.css.map */
