
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


<!--------------  jquery  ----------------->
<script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" /> 
<!--------------  Search  ----------------->

<form method="POST" id="search" action="{% url 'search' %}" autocomplete="off">
  {% csrf_token %}
  <input type="text" placeholder="Recherche partenaires ou salles" class="search" id="tags" name="search">
</form>
<div id='results-box' class="results-card not-visible"></div>


    
    <!--------------  Javascript  ----------------->
    
    <script>
      $( function() {
        let availableTags = [
            {% for search in search_structure %}
                "{{search.name}}",
            {% endfor %}
        ];
        
        $( "#tags" ).autocomplete({
          source: availableTags
        });
      } );
    </script>

<!--------------  GLOBAL  ----------------->

<div class="container-general">

  
  
  <!-----------  BLOCK Counter  -------------->
  <div class="block-container-structures">

    <div class="container-structures" id="salle">
      <p>{{ structures }}</p>
      <p>Salles</p>
    </div>
    <div class="container-structures" id="franchise">
      <p>{{ franchises }}</p>
      <p>Franchises</p>
    </div>
        <div class="container-structures" id="manager">
          <p>{{ users }}</p>
          <p>Partenaires</p>
        </div>
      </div>
      
      <!-----------  Formulaires  -------------->
      

      <div class="block-forms-description">git reset
        
        
        <p class="table-name">Formulaires</p>
        <div class="container-block-forms">
          
          <div class="block-forms">
            
            <div id="add_franchise" class="container-structures">
              <p>Ajouter une Franchise</p>
              <a href="{% url 'add_Franchise' %}"></a>
              <div>
                <button type="button"><a href="{% url 'add_Franchise' %}">Créer</a></button>
              </div>
            </div>
            
            <div id="add_structure" class="container-structures">
              <p>Ajouter une Structure</p>
              <a href="{% url 'create_structure' %}"></a>
              <div>
                <button type="button"><a href="{% url 'create_structure' %}">Créer</a></button>
              </div>
            </div>
            
            <div id="add_user" class="container-structures">
              <p>Créer un Utilisateur</p>

              <div>
                <button type="button"><a href="{% url 'add_User' %}">Créer</a></button>
              </div>
            </div>
            <div id="add_permission" class="container-structures">
              <p>Ajouter une permission</p>
              <!-- <img src="{% static 'icons/menu/permissions.png' %}"> -->
              <div>
                <button type="button"><a href="{% url 'add_Permission' %}">Créer</a></button>
              </div>
            </div>
          </div>
        </div>
      
      </div>


      <p class="table-name">Gérants des Franchises</p>
      <div class="container-users">
        {% for manager_franchise in manager_franchises %}
        <div class="user" id="user">
          <div class="container-img"><img src="{{ manager_franchise.manager.avatar.url }}" alt="avatar"></div>
          {% if manager_franchise.is_active %}
          <p>Actif</p>
          {% else %}
          <p>D2sqctif</p>
          {% endif %}
          <p>{{ manager_franchise }}</p>
          <p>{{ manager_franchise.manager.first_name }} {{ manager_franchise.manager.last_name }}</p>
          <p>{{ manager_franchise.manager.email }}</p>
          <p>{{ manager_franchise.manager.role }}</p>
          <p>{{ manager_franchise.franchise }}</p>
          
        </div>
        {% endfor %}
      </div>

      <p class="table-name">Gérants des Structures</p>
      <div class="container-users">
        {% for manager_structure in manager_structures %}
        <div class="user" id="user">
          <div class="container-img"><img src="{{ manager_structure.manager.avatar.url }}" alt="avatar"></div>
          {% if manager_structure.is_active %}
          <p>Actif</p>
          {% else %}
          <p>D2sqctif</p>
          {% endif %}
          <p>{{ manager_structure }}</p>
          <p>{{ manager_structure.manager.first_name }} {{ manager_structure.manager.last_name }}</p>
          <p>{{ manager_structure.manager.email }}</p>
          <p>{{ manager_structure.manager.role }}</p>
          <p>{{ manager_structure.structure }}</p>

        </div>
      {% endfor %}
      </div>

    </div>
    
    


{% endblock %}