

{% extends 'base.html' %}

{% load static %}

{% block content %}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/list_structure.css' %}">


  <!--------------  Title  ----------------->
  <div class="title">
      <h3>Liste des Structures</h3>
  </div>


  <!--------------  Filter  ----------------->
  <div class="filter-franchise">
{% for franchise in franchises %}
    <a href="{{ franchise.get_absolute_url }}">{{ franchise.name }}</a>
    {% endfor %}

  </div>
  
  <!--------------  Search  ----------------->

  <form method="GET" action="{% url 'search' %}">
    <div class="search-bar">
      <input type="text" placeholder="Recherche salles" class="search" name="search">
      <button type="submit"><img src="{% static 'icons/menu/search.png' %}"></img></button>
    </div>
  </form>
  
  
  <!--------------  Add structure  ----------------->
  <div class="add-structure">
    <a href="{% url 'create_structure' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="ajouter une salle">Ajouter une salle</a>
  </div>
  
  <!--------------  Structures  ----------------->
  

{% for structure in structures %}

  <div class="container-structures">
    <div>
      <a href="{{ structure.get_absolute_url }}"><img src="{{ structure.image.url }}" alt="{{ structure.name }}"></a>
    </div>
    <div>
      <!-- <p>Franchise : {{ structure.franchise }}</p> -->
      <p>Structure : {{ structure.name }}</p>
      <p>Adresse : {{ structure.address }}</p>
    </div>
    <div>
      <p>Gérant de la structure: {{ structure.manager.first_name }} {{ structure.manager.last_name }}</p>
      <p>Contact : {{ structure.manager.email }}</p>
    </div>
  
    <div>
      {% if structure.is_active %}
      
      <div class="container-checkbox-checked">
        <input type="checkbox" id="{{ structure.name }}" class="checkbox-checked">
        <label for="{{ structure.name }}" class="label-checked"></label>
        <span>Active</span>
      </div>
      
      {% else %}
      <div class="container-checkbox">
        <input type="checkbox" id="{{ structure.name }}" class="checkbox">
        <label for="{{ structure.name }}" class="label"></label>
        <span>Désactive</span>  
      </div>
        
      {% endif %}
    </div>

    <div>
      <button type="button"><a href="{{ structure.get_absolute_url }}">Voir plus</a></button>
    </div>
  </div>

{% endfor %}




{% endblock %}