
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/structure.css' %}">


<!--------------  Javascript  ----------------->

<script src="{% static 'js/script.js' %}"></script>

<!--------------  Title  ----------------->


<div class="name_account">
  <p>Structure {{ structures }}</p>
</div>


<!--------------  Accounts  ----------------->

<h3>Compte</h3>

<div class="details">

  <div>
    <a href=""><img src="{{ structures.image.url }}" alt="structure"></a>
  </div>

  <div>
    <p>Franchise : {{ structures.franchise }}</p>
    <p>Adresse : {{ structures.address }}</p>
  </div>

  <div>
    <p>Gérand de la franchise : {{ structures.franchise.manager.first_name }} {{ structures.franchise.manager.last_name }}</p>
    <p>Contact : {{ structures.franchise.manager.email }}</p>
  </div>
  <div>
    <p>Gérand de la structure : {{ structures.structure.manager.first_name }} {{ structures.manager.last_name }}</p>
    <p>Contact : {{ structures.manager.email }}</p>
  </div>
  
</div>



<!--------------  Description  ----------------->
<div class="description_account">
  Description : {{ structures.description }}
</div>



<!--------------  Permission  ----------------->
<h3><img src="{% static 'icons/menu/permissions.png' %}">Permissions</h3>


<div class="containers_permission">
  
  {% for structureperm in structureperms %}
    {% for perm in structureperm.permission.all %}
    
      <div class="single_permission">

        <img src="{{ perm.icon.url }}" alt="icon">
        <p class="permissions"> {{ perm }} {{ perm.is_active }}</p>
        
        <div>
          <input type="checkbox" id="{{ perm }}" class="checkbox">
          <label for="{{ perm }}" class="label"></label>
        </div>
        
      </div> 
        
        {% endfor %}  
  {% endfor %}  
</div>  
  

  
  <!--------------  Update Formulaire  ----------------->



  <p>{% include 'formulaires/update_permissions.html' %}</p>
    

  <button type="button"><a href="{% url 'delete_structure' structures.id %}"><img src="">Supprimer</a></button>
    


{% endblock %}