
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/structure.css' %}">



<!--------------  Title  ----------------->


<div class="name_account">
  <p>Structure {{ structures }}</p>
</div>


<!--------------  Accounts  ----------------->


<div class="details">

  <div>
    <a href=""><img src="{{ structures.image.url }}" alt="structure"></a>
  </div>

  <div>
    <div></div>
    <p>Franchise : {{ structures.franchise }}</p>
    <p>Adresse : {{ structures.address }}</p>
  </div>

  <div>
    <p>Gérand de la franchise : {{ structures.franchise.manager.first_name }} {{ structures.franchise.manager.last_name }}</p>
    <p>Contact : {{ structures.franchise.manager.email }}</p>
  </div>
  <div>
    <p>Gérand de la structure : {{ structures.manager.first_name }} {{ structures.manager.last_name }}</p>
    <p>Contact : {{ structures.manager.email }}</p>
  </div>
  
</div>
{% if request.user.is_staff %} 
<!--------------  Edit structure detail  ----------------->
<div class="edit-structure-detail">
  <button type="button" ><a  href="{% url 'edit_structure' structures.id %}"><img src="">Modifier</a></button>
</div>
{% endif %}

<!--------------  Description  ----------------->
<div class="description_account">
  Description : {{ structures.description }}
</div>



<!--------------  Permissions actives ----------------->
<h3><img src="{% static 'icons/menu/permissions.png' %}">Permissions</h3>
<h4>Activé</h4>

<div class="containers_permission">
  
  {% for structure in structure %}
    {% for perm in structure.permission.all %}
      <div class="single_permission">
        <img src='{{ perm.icon.url }}' alt="{{ perm }}">
        <p>{{ perm }}</p>
        
        <div class="True">
          <input type="checkbox" id="{{ perm }}" class="checked">
          <label for="{{ perm }}" class="label"></label>
        </div>
        
      </div>
    {% endfor %}
  {% endfor %}
</div>



<!--------------  All Permissions ----------------->

<h4>Toutes les permissions disponibles</h4>

<div class="containers_permission">
  
  
  {% for permission in permission %}
  
  <div class="single_permission">
    <img src='{{ permission.icon.url }}' alt="{{ permission }}">
    <p>{{ permission }}</p>
    
  </div>
  
  {% endfor %}
  
</div>


<!--------------  Buttons ----------------->


<!--------------  Buttons Edit for staff ----------------->
{% if request.user.is_staff %} 
<div class="btn-update">
  <p>Un mail automatique sera envoyé au franchisé en cas de modification des permissions</p>
  <button type="button"><a href="{% url 'update_permission' structures.id %}"><img src="">Modifier</a></button>
</div>

<!--------------  Buttons Delete for staff ----------------->

<div class="btn-delete">
  <button type="button"><a href="{% url 'delete_structure' structures.id %}">Supprimer</a><img src="{% static 'icons/menu/delete.png' %}"></button>
</div>
{% endif %}


<!--------------  Info for manager structure ----------------->
{% if not request.user.is_staff %} 
<div class="btn-update">
  <p>Si vous désiez plus d'informations en ce qui concerne les permissions, contacter à l'équipe de FitnessClub</p><br>
</div>
{% endif %}




{% endblock %}