
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/structure.css' %}">



<!--------------  Title  ----------------->


<div class="name_account">
  <p>Structure {{ structures.name }}</p>
</div>


<!--------------  Accounts  ----------------->

<h3>Compte</h3>

<div class="details">

  <div>
    <img src="{{ structures.image.url }}" alt="{{ structures.name }}">
  </div>

  <div>
    <p>adresse : {{ structures.address }}</p>
    <p>Franchise : {{ structures.franchise }}</p>
  </div>

  <div>
    <p>Gérand de la franchise : {{ structures.franchise.user.first_name }} {{ structures.franchise.user.last_name }}</p>
    <p>Responsable de la structure: Roberta Miam</p>
  </div>
  
</div>



<!--------------  Description  ----------------->
<div class="description_account">
  Description : {{ structures.description }}
</div>


<!--------------  Permission  ----------------->
<h3>Permissions</h3>

<!--------------  Message  ----------------->
{% include 'alerts.html' %}

<!--------------  Formulaire user  ----------------->
<div class="formulaire">
  <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Créer</button>
  </form>
</div>


{% endblock %}