
{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/add_franchise.css' %}">


<!--------------  Title  ----------------->
    <div class="name_account">
      <h3>Ajouter un Partenaire</h3>
    </div>
      
<!--------------  Message  ----------------->
{% include 'alerts.html' %}

<!--------------  Formulaire user  ----------------->
<div class="formulaire">
  <form method="POST" action="{% url 'add_Franchise' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" >Créer</button>
  </form>
</div>


{% endblock %}