{% extends 'base.html' %}

{% load static %}

{% block content %}


<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/franchise.css' %}">


<!--------------  Accounts Franchise  ----------------->

<div class="name_account">
  <p>Partenaire de FitnessClub</p>
  <p>{{ franchises.manager.first_name }} {{ franchises.manager.last_name }}</p>
  <p class="name-franchise">Franchise {{ franchises.name }}</p>
</div>


<!--------------  Descritpion  ----------------->
<div class="details_account">
  <div class="details">
    <p>Id : {{ franchises.manager.number }}</p>
    <p>Email : {{ franchises.manager.email|title }}</p>
  </div>
  <div>
    <p>reponsable : Robert Tevo</p>
    <p>technical contact: Roberta Miam</p>
  </div>
 
</div>
{% if request.user.is_staff %} 
<!--------------  Edit franchise detail  ----------------->
<button type="button"><a href="{% url 'edit_franchise' franchises.id %}"><img src="">Modifier</a></button>
{% endif %}

<!--------------  Description  ----------------->
<div class="description_account">
  {{ franchises.description }}
</div>
  
 
  {% if request.user.is_staff %} 
  <!--------------  Add structure  ----------------->
  <div class="add-structure">
    <a href="{% url 'create_structure' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="ajouter une salle">Ajouter une structure</a>
  </div>
  {% endif %}




<!--------------  Structure  ----------------->
{% if request.user %}
<p class="title-structure">Structures</p>
  {% for structure in structures %}

  <div class="container-structures">
    <div>
      <img src="{{ structure.image.url }}" alt="{{ structure.name }}">
    </div>
    <div>
      
      <p><span>Structure :</span> {{ structure.name }}</p>
      <p><span>Gérand :</span> {{ structure.manager.first_name }} {{ structure.manager.last_name }}</p>
    </div>
    <div>
      <p><span>Adresse :</span> {{ structure.address }}</p>
      <p>{{ structure.franchise.manager.email }}</p>
    </div>
    
    <div>
      <p>{{ structure.franchise.manager.email }}</p>
      {% if structure.is_active %}
      <p>Actif </p>
      {% else %}
      <p>Désactif</p>
      {% endif %}
    </div>
    
    <div>
      <button type="button"><a href="{{ structure.get_absolute_url }}">Voir plus</a></button>
      </div>
    </div>
    
    {% endfor %}
{% endif %}

{% endblock %}