{% extends 'base.html' %}

{% load static %}


{% block content %}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
 
  <link rel="stylesheet" href="{% static 'css/list_franchise.css' %}">



  <div class="name_account">

  </div>


  <!--------------  Structures  ----------------->

  <h4>Les Franchises</h4>
  
{% for franchise in franchises %}

  <div class="container-franchise">
    <div>
      <p>Franchise : {{ franchise.name }}</p>
      <p>laval-montpellier@FitnessClub.com</p>
    </div>
    <div>
      <p>87 rue laval, 34000 Montpellier</p>
      <p>je ne sais pas quoi marqué pour le moment</p>
    </div>
    <div>
      <button type="button"><a href="{{ franchise.get_url }}">Voir plus</a></button>
    </div>
  </div>

{% endfor %}




{% endblock %}