{% extends 'base.html' %}

{% load static %}


{% block content %}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
 
  <link rel="stylesheet" href="{% static 'css/list_franchise.css' %}">



  <!--------------  Title  ----------------->
  <div class="title">
    <h3>Les Franchises</h3>
  </div>

  
  <!--------------  Filter  ----------------->
  <div class="filter-franchise">
    {% for franchise in franchises %}
        <a href="{{ franchise.get_absolute_url }}">{{ franchise.name }}</a>
    {% endfor %}
      </div>




<!--------------  Search  ----------------->

<form method="POST" id="search" action="{% url 'search' %}" autocomplete="off">
  {% csrf_token %}
  <div class="search-bar">
    <input type="text" placeholder="Recherche partenaires ou salles" class="search" id="tags" name="search">
    <button type="submit"><img src="{% static 'icons/menu/search.png' %}"></img></button>
  </div>
</form>




  
<!--------------  Add Franchise  ----------------->
<!--------------  for Staff  ----------------->
{% if user.role == 'franchise manager' %} 
<div class="add-franchise">
  <a href="{% url 'add_Franchise' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="">Ouvrir une nouvelle franchise</a>
</div>

  
  <!--------------  for manager franchise : demande autorisation   ----------------->
  {% elif user.role == 'staff' %} 
  <div class="add-franchise">
    <a href="{% url 'add_Franchise' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="">Ajouter une franchise</a>
  </div>
  
  
{% endif %}


  <!--------------  Structures  ----------------->

  
{% for franchise in franchises %}
<div class="container-franchise">
    <a href=""><img src="{% static 'icons/franchise.png' %}" alt="franchise"></a>
    <div>
      <p>Franchise : {{ franchise.name }}</p>
    </div>
    
    <div>
      <p>Gérant : {{ franchise.manager.first_name }} {{ franchise.manager.last_name }}</p>
      <p>Contact : {{ franchise.manager.email }}</p>
    </div>
    
    <div>
      {% if franchise.is_active %}
      
      <div class="container-checkbox-checked">
        <input type="checkbox" id="{{ franchise.name }}" class="checkbox-checked">
        <label for="{{ franchise.name }}" class="label-checked"></label>
        <span>Active</span>
      </div>
      
      {% else %}
      <div class="container-checkbox">
        <input type="checkbox" id="{{ franchise.name }}" class="checkbox">
        <label for="{{ franchise.name }}" class="label"></label>
        <span>Désactive</span>  
      </div>
        
      {% endif %}
    </div>
    <div>
      <button type="button"><a href="{{ franchise.get_absolute_url }}">Voir plus</a></button>
    </div>
  </div>

{% endfor %}




{% endblock %}