{% extends 'base.html' %}

{% load static %}

{% block content %}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/account.css' %}">



  <div class="name_account">


  <!--------------  Structures  ----------------->

  <h3>Les Franchises</h3>
{% for client in clients %}

  <div class="container-structures">
    <div>
      <img src="../static/icons/structure/1.png" alt="franchise">
    </div>
    <div>
      <p>Franchise : {{ client.name }}</p>
      <p>laval-montpellier@FitnessClub.com</p>
    </div>
    <div>
      <p>87 rue laval, 34000 Montpellier</p>
      <p>je ne sais pas quoi marqué pour le moment</p>
    </div>
    <div>
      <button type="button">Voir plus</button>
    </div>
  </div>

{% endfor %}




{% endblock %}