{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/account.css' %}">



    <div class="name_account">

      {% if user.is_staff %}
        <p>Équipe de Fitness Club</p>

      {% else %}
        <p>Partenaire de Fitness Club</p>
      {% endif %}

      <p>{{ user.first_name|title }} {{user.last_name|title}}</p>
    </div>
    <!--------------  Accounts  ----------------->
    <h3>Compte</h3>
    
    <div class="details_account">
      <div>
        <p><p>{{ user.first_name|title }} {{user.last_name|title}}</p></p>
        <p>Nombre de franchise :</p>
      </div>
      <div>
        <p>id : {{ user.number }}</p>
        <p>email : {{ user.email|title }}</p>
      </div>
      <div>
        <p>reponsable : Robert Tevo</p>
        <p>technical contact: Roberta Miam</p>
      </div>
    
    </div>
    <!--------------  Description  ----------------->
    <div class="description_account">
      Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean iaculis faucibus justo sit amet lacinia. Donec lobortis mattis neque nec sagittis.
      Proin est lacus, posuere eget accumsan sed, molestie a nisi.
      Mauris eget lacinia urna, eget finibus sapien.
      Sed interdum lacus non tellus ornare, vel sagittis eros consectetur.
      Donec lobortis mattis neque nec sagittis.
      Proin est lacus, posuere eget accumsan sed, molestie a nisi.
      Mauris eget lacinia urna, eget finibus sapien.
      Sed interdum lacus non tellus ornare, vel sagittis eros consectetur.
    </div>


    <!--------------  Structures  ----------------->
  {% if request.user.role == 'franchise manager' %}  
    

    <h3>Les Franchise </h3>
  
  <!--------------  Add Franchise  ----------------->
  <div class="add-franchise">
    <a href="{% url 'add_Franchise' %}"><img src="{% static 'icons/menu/add_franchise.png' %}" alt="ajouter une salle">Ajouter une franchise</a>
  </div>
  
    
    {% for franchise in franchises %}

    <!--------------  Structures  ----------------->

    <div class="container-structures">
    
      <a href=""><img src="{% static 'icons/franchise.png' %}" alt="franchise"></a>
      <div>
        <p>Franchise : {{ franchise.name }}</p>
        <p>Nombre de structure : </p>
      </div>
      
      <div>
        <p>Gérant : {{ franchise.manager.first_name }} {{ franchise.manager.last_name }}</p>
        <p>Contact : {{ franchise.manager.email }}</p>
      </div>
      
      <div>
        <p>Contact : {{ structure.manager.email }}</p>
        {% if franchise.is_active %}
          <p>Actif </p>
        {% else %}
          <p>désactif</p>
        {% endif %}
      </div>
      <div>
        <button type="button"><a href="{{ franchise.get_absolute_url }}">Voir plus</a></button>
      </div>
    
    </div>

  
    
    
  {% if request.user.role == 'structure manager' %}
    {% if structures %}

    <!--------------  Structures  ----------------->
    
    <div class="container-structures">
      <div>
        <img src="{{ structures.avatar.url }}" alt="structures">
      </div>
      <div>
        
        <p>structure : {{ structures.name }}</p>
        <p>User : {{ structures.franchise.user.first_name|title }}</p>
      </div>
      
      <div>
        <button type="button"><a href="{{ structures.get_absolute_url }}">Voir plus</a></button>
      </div>
    </div>
    
    
    
    {% endif %}
  {% endif %}
      
    {% endfor %}
    
    <!--------------  Structures  ----------------->

    

  {% endif %}



{% endblock %}