
{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/add_franchise.css' %}">


      <div class="name_account">
        <p>Équipe de Fitness Club</p>
        <p>Marissa HOHO</p>
      </div>
      <!--------------  Accounts  ----------------->
      <h3>Compte</h3>
      
      <div class="details_account">
        <div class="details">
          <p>id : 0056</p>
          <p>email : marissa@Fitness-Club.com</p>
        </div>
        <div>
          <p>reponsable : Robert Tevo</p>
          <p>technical contact: Roberta Miam</p>
        </div>
      </div>
      <!--------------  Description  ----------------->
      <div class="description_account">
        Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean iaculis faucibus justo sit amet lacinia. Donec lobortis mattis neque nec sagittis.
        Proin est lacus, posuere eget accumsan sed, molestie a nisi. 
        Mauris eget lacinia urna, eget finibus sapien. 
        Sed interdum lacus non tellus ornare, vel sagittis eros consectetur.  
      </div>


      <!--------------  Structures  ----------------->

    <form method="POST" action="{% url 'add_franchise' %}">
          {% csrf_token %}
          {{ formsignup.as_p }}
          <button type="submit" >S’inscrire</button>
    </form>


{% endblock %}