
{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/formulaire.css' %}">

<div class="container-global">
  <!--------------  Title  ----------------->
  <div class="name_account">
    <h3>Ajouter un Utilisateur</h3>
  </div>

  <!--------------  Description  ----------------->



    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean bibendum faucibus egestas. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Vivamus euismod, ligula at blandit ultricies, dui diam tristique leo, ac tristique nisi est in metus.
        Integer in enim vel turpis rutrum molestie. Maecenas in erat ut eros facilisis elementum ac nec purus.
      </p>
    </div>
      

  <!--------------  Message  ----------------->
  {% include 'alerts.html' %}

  <!--------------  Formulaire user  ----------------->
  <div class="formulaire">
    <div class="container">
      <form method="POST" action="{% url 'add_User' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ form.media }}
        <button type="submit" >S’inscrire</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}