@import '../../../fitnessClub/static/scss/mixin.scss';

.name_account{
  margin-top: 100px;
  text-align: center;
  font-style: bold;
  .name-franchise{
    margin-top: 65px;
    margin-bottom: 75px;
    font-weight: bolder;
  }
}
h3{
  text-align: center;
  margin: 50px;
}

.details_account{
  display: flex;
  justify-content: flex-start;
  .details{
    width: 50%;
  }
}
.description_account{
  margin:60px 0px;
  line-height: 170%;
  
}
.add-structure{
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  a{
    display: flex;
    align-items: center;
    color: white;
 
    img{
      margin-right: 8px ;
    }
  }
}
.container-structures{
  @include list-container;
}

button{
  @include button;
}