
@import '../../../fitnessClub/static/scss/mixin.scss';


.container-franchise{
  @include list-container;
}

button{
  @include button;
}

a{
  text-decoration: none;
  color: white;
}
.title{
  display: flex;
  justify-content: center;
}
.filter-franchise{
  display: flex;
  justify-content: space-evenly;
}

h3{
  margin: 100px 0px;
}


//--------------------- Search Bar ---------------------//
.search-bar{
  display: flex;
  align-items: center;
  margin: 50px 0px ;
  .search{
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2.5px;
    font-style: italic;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: solid white;
    background-color: #171717;
    color: rgba(255, 255, 255, 0.526);
    border: solid 1px ;
  }
  button{
    cursor: pointer;
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left:-40px ;
    img{
      width: 25px;
    }
  }
}



.add-franchise{
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  a{
    display: flex;
    align-items: center;
    img{
      margin-right: 8px ;
    }
  }
}




.container-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    margin-left: 5px;
  }
  .checkbox{
    display: none;  
    }
  .label{
    display: inline-block;
    width: 40px;
    height: 23px;
    background:gray;
    position: relative;
  
    border-radius: 20px;
    
    &:after{
      content: "";
      height: 16px;
      width: 16px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 2.75px;
      left: 5px;
      border-radius: 50%;
    }
  }
}



.container-checkbox-checked{
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    margin-left: 5px;
  }
  .checkbox-checked{
    display: none;
  }
  .label-checked{
    display: inline-block;
    width: 40px;
    height: 23px;
    background:#00ACC1;
    position: relative;
    
    border-radius: 20px;
    
    &:after{
      content: "";
      height: 16px;
      width: 16px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 2.75px;
      right: 5px;
      border-radius: 50%;
      }
  }
}

/* //MEDIA QUERIES/ */

@media screen and (max-width: 980px){
  .container-franchise{
    flex-direction: column;
    text-align: center;
    div{
      p{
        margin: 6px 0px;
      }
    }
  }
  button{
    margin: 10px;
  }
}




/* //MEDIA QUERIES --------> 800px/ */

@media screen and (max-width: 800px){
  .container-franchise{
    max-width:560px;
    font-size:12px;
    
  }
  button{
    width: 89px;
    height: 36px;
    
  }
}



/* //MEDIA QUERIES --------> 375px/ */
@media screen and (max-width: 375px){
  .add-structure{
    margin-top: 20px;
    margin-bottom: 10px;
    a{
      img{
        margin: 0px 5px;
        width: 13px;
      }
    }
  }
  .title{
    margin-bottom: 0px;
    h3{
      font-size: 12px;
      margin: 60px 0px;
      letter-spacing: 2px;
    }
  }
  .container-checkbox, .container-checkbox-checked{
    display: none;
  }
  
.container-franchise{
  @include media-list-container-375;
}

button{
  @include button-375;
}
.search-bar{
  display: none;
}

}

