@import '../../../fitnessClub/static/scss/mixin.scss';


button{
  @include button;
}

h3, .name_account p:first-child{
  font-weight: 500;
}
.name_account p:last-child{
  letter-spacing: 2px;
}

.name_account{
  text-align: center;
  margin-top: 100px;
}

h3{
  margin-top: 100px;
}
.details_account{
  display: flex;
  justify-content: flex-start;
  .details{
    width: 50%;
  }
}
.description_account{
  margin-top:60px;
  line-height: 170%;
  
}

.container-structures{
  @include list-container;
}
