@import '../../../fitnessClub/static/scss/mixin.scss';


button{
  @include button;
}

h3, .name_account p:first-child{
  font-weight: 500;
}
.name_account p:last-child{
  letter-spacing: 2px;
}

.name_account{
  text-align: center;
  margin-top: 100px;
}

h3{
  margin-top: 100px;
}

.details_account{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  

}
.description_account{
  margin-top:60px;
  line-height: 170%;
  
}

.container-structures{
  @include list-container;
}
.add-franchise{
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  a{
    display: flex;
    align-items: center;
    color: white;
    img{
      margin-right: 8px ;
    }
  }
}