body{
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #171717;
  color: white;
  font-size: 14px;
}
.name_account, h3{
  letter-spacing: 5px;
}
.container_global{
  display: flex;
  min-height: 1200px;

  .sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    a{
      display: flex;
      align-items: center;
      margin-top: 30px;
      text-decoration: none;
      color: white;
      
    }
    .profil{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .img_profil_sidebar{
        margin-top: 50px;
        width:90px ;
      }
    }
    .menu{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      a{
        img{
          margin: 0 15px;
        }
      }
    }
  }


  .container_content{
    padding: 0 100px;
    width: 80%;
    background-color: #292929;

    .déconnexion{
      margin-top: 20px;
      width: 35px;
    }

  }


}