
@import '../../../fitnessClub/static/scss/mixin.scss';


.container-structures{
  @include list-container;
}

button{
  @include button;
}

body{
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #171717;
  color: white;
}

.contener_global{




  .contenu{
    min-height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    background-image: url(../images/img_home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
    .text-img{
      font-family: 'Times New Roman', Times, serif;
      p{
        text-align: center;
        margin: 0px;
        text-transform: uppercase;
        font-size: 64px;
      }
      p:first-child{
        color: #171717;
        font-size: 24px;
      }
    }
  }



  .connexion{
    display: flex;
    justify-content: center;

    .block-connexion{
      margin-top: -150px;
      background-color: #292929;
      box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.3);
      color: #ffffff;
      width: 430px;
      height: 445px;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    .img-container{
      filter: drop-shadow(0 0 0.9rem rgb(255, 138, 20));
      img{
        min-width: 80px;
        margin: 10px;
      }
    }
    p{
      font-size: 20px;
      margin: 0px;
    }
      form{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-width: 350px;
        input{
          width: 60%;
          margin: 10px;
          border-radius: 7px;
          height: 38px;
          border: none;
          text-align: center;
        }
        #id_email{
          margin-bottom: 20px;
        }
       button{
        margin: 20px;
        color: #ffffff;
       }
      }
    }
  }


}

footer{
  margin-top: 60px;
  background-color:#292929;
  width: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  .single-info{
    margin: 0px 280px;
    margin-top: 60px;
    p{
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 500;
    }
    ol{
      list-style: none;
      li{
        margin: 15px;
      }
    }
  }
  .icons_social{
    margin-top: 120px;
    a{
      margin: 10px;
    }
  }
  
}